.creature-form {
  md-input-container {
    display: block;
    width: 250px;
  }
}

.container {
  display: flex;
  margin-bottom: 10px;
}

#xmlView {
  width: 100%;
  textarea {
    width: 100%;
    height: 800px;
  }
}
